<%- include('partials/header') -%>

<div class="container">
    <h1 class="heading">Home</h1>
    <p><%= homeParagraph %></p>
    </div>
<% posts.forEach(function(post) { %>


    <div class="container">
        <h1 class="heading"><%= post.title %></h1>
        <p><%= post.content.substring(0,100)+" ..."%>
        <a href="/posts/<%= post.title%>">Read More</a>
        </p>
    </div>

  <% }); %>

<%- include('partials/footer') -%>

